APP_HOST=0.0.0.0
APP_PORT=30812
DATABASE_URL=/data/metric.db
PUBLIC_BASE_URL=https://metric.linka.su

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=apps@linka.su
SMTP_PASSWORD=change-me
SMTP_FROM_EMAIL=apps@linka.su
SMTP_FROM_NAME=LINKa
