<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Код активации</title>
    <style>
      body {
        background: #aaa;
        padding: 0;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
      main {
        margin: 1em;
        padding: 1em;
        background: #fff;
        height: 100%;
        position: absolute;
        border-radius: 2em;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Код активации для LINKa смотри.</h1>
      <p>
        Благодарим вас за установку LINKa, активировать продукт вы можете при
        помощи кода: <b><%= code %></b>
      </p>
      <p>Если вы не запрашивали код - просто проигнорируйте это письмо.</p>
      <p align="right">
        С уважением, <br />
        Иван Бакаидов
      </p>
    </main>
  </body>
</html>